<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> <%= @store.store_name %> is added to Dublin Pizza Shops!!!!</h1>
    <p>
      Now you can add products and acess to more pizza lovers
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for adding your shop and have a great day!</p>
  </body>
</html>