<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    No pizzas are added to the cart.Please <%= link_to "go back", root_path %>go back and continue shopping.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true  %>
  <% end %>
<% end %>
<%= hidden_field_tag :order_id ,current_order.id %>

<div class="pull-right">
<button id= "cancel" class="btn btn-danger btn-lg">Clear Cart</button>
<button id= "confirm" class="btn btn-primary btn-lg">Confirm Your Order</button>
</div>