<h1>Charts</h1>
<%= high_chart("my_combine_div1", @chart1) %>
<%= high_chart("my_combine_div2", @chart2) %>
<%= high_chart("my_combine_div3", @chart3) %>
<%#= high_chart("my_combine_div4", @chart4) %>